@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  
}
.wrapper{
    max-width: 1440px;
    /* position: relative; */
}
body{
    position: relative;

}
.navbar{
    /* border:2px solid red; */
    display: flex;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    justify-content: space-around;
}
.leftside{
    /* border:2px solid red; */
    display: flex;
    justify-content:space-between ;
    align-items: center;

}
.list{
    list-style: none;
    margin:5px;
    padding:5px;
    /* border:1px solid red; */
    display: flex;
    justify-content: space-between;
}
.list li{
      /* border:1px solid red; */
      margin:10px;
      
}
.list li:hover{
    border-bottom:2px solid hsl(26, 100%, 55%);
}
.rightside{
    /* border:2px solid red; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;

}
.pro{
    width:50px;
    /* border:2px solid red; */
    margin:20px;
}
.hero{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* border: 10px solid red; */
    position: relative;
}
.secleft{
    /* border:10px solid green; */
    width:50%;;
}
.secright{
    /* border:10px solid green; */
    width:50%;
    /* z-index: -1; */
   
}
.mainimg{
  /* border:12px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;

}
.mainimg img{
    /* border:2px solid red; */
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.gifs{
    /* border:2px solid red; */
    display: flex;
    justify-content:center;
    align-items: center;
    /* padding:8px; */

}
.gifs img{
    /* border:2px solid red; */
    width:70px;
    margin: 8px;
    border-radius: 5px;
}
.gifs img:hover{
    cursor: pointer;
}
.rightcon{
    /* border:2px solid red; */
    margin-top: 100px;
   
}
.rightcon h5{
    color:hsl(26, 100%, 55%);
    font-weight: 400;
    margin-bottom: 10px;

}
.rightcon h1{
    /* border:2px solid red; */
    margin-top:5px;
    margin-bottom: 5px;
    font-weight: 700;

}
.rightcon p{
    padding:5px;
    color:black
}
.btnouter{
    /* border:2px solid red; */
    display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 8px;
   position: relative;
}
.btnleft{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:2px solid red; */
}
.btnleft button{
    width:30px;
    border:none ;
}
.btnright{

    position: relative;
    right:30%;
    /* border:2px solid red; */



}
.btnright button{
    /* border:2px solid red; */
    /* display: block; */
    width:150px;
    border:none;
    height:35px;
}
.btnright button:hover{
    cursor:pointer;
}
.btnleft div{
    width:30px;
    /* border:2px solid black; */
    text-align: center;
    background-color:hsl(223, 64%, 98%) ;
}
.btn{
    background-color: hsl(26, 100%, 55%);
    color:white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}



@media only screen and (max-width: 600px) {
  .hero{
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  .secright{
    /* border:10px solid black; */
    width:100%;
}
.rightcon{
    /* border:2px solid red; */
    padding:10px;
}
.btnouter{
    padding: 10px;
}
.price{
    padding:10px;
}
.navbar{
    display: block;
    width:100%;
}
.navbar ul li{
    font-size: 9px;
}


}





